In [1]:
data = ["apple",150,"orange",120,"graps",80,True,]
data

['apple', 150, 'orange', 120, 'graps', 80, True]

In [2]:
data[0]

'apple'

In [4]:
for i in data:
    print(i)

apple
150
orange
120
graps
80
True

In [ ]:
account1 = {
    "name": "Devansh",
    "age": 20,
    "city": "Nagpur",
    "expense": 5000
}

account2 = {
    "name": "Rahul",
    "age": 25,
    "city": "Mumbai",
    "expense": 7000
}

total_expense = account1["expense"] + account2["expense"]
print("Total expense:", total_expense)
total_balance = 15000 - total_expense
print("Total balance:", total_balance)

Total expense: 12000
Total balance: 3000

In [9]:
account1 = {"balance": 5000}
transaction_limit = 2
transactions = 0
for i in range(5):
    if transactions >= transaction_limit:
        print("Daily transaction limit is reached.")
        break
    if account1["balance"] >= 1000:
        account1["balance"] -= 1000
        transactions += 1
        print(f"Transaction {transactions}: Paid 1000. Remaining balance: {account1['balance']}")
    else:
        print("Insufficient balance.")
        break

Transaction 1: Paid 1000. Remaining balance: 4000
Transaction 2: Paid 1000. Remaining balance: 3000
Daily transaction limit is reached.

In [3]:
def mystudent():
    print (10+5)

mystudent()

15

In [ ]:
for i in range