In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [2]:
setone = {"apple", "banana", "cherry"}
settwo = {"date", "elderberry", "fig"}

setthree = setone | settwo

print(setthree)

{'fig', 'elderberry', 'cherry', 'apple', 'date', 'banana'}

In [ ]:
frndone = {"Alice", "Bob", "Charlie"}
frndtwo = {"David", "Eve", "Frank"}

mutual = set(frndone) & set(frndtwo)
print(mutual)

set()

If your friend opens the phone, the phone only gives them access to some things not all

In [1]:
# All phone features
all_features = {"photos", "contacts", "messages", "banking", "settings", "camera", "music"}

# Features available to friend (limited access)
friend_access = {"camera", "music"}

print("Your friend can access:", friend_access)
print("Your friend cannot access:", all_features - friend_access)

Your friend can access: {'camera', 'music'}
Your friend cannot access: {'photos', 'contacts', 'banking', 'settings', 'messages'}

In [ ]:
insta_id = "yash123"
password = "password123"
def login(user_id, user_password):
    if user_id == insta_id and user_password == password:
        print("Login successful!")
    else:
        print("Incorrect ID or password.")
user_id_input = input("Enter your Instagram ID: ")
password_input = input("Enter your password: ")
login(user_id_input, password_input)
friends1 = {"Yash","Rash", "Devansh"}
friends2 = {"Devansh", "Swayam", "Meenal"}
mutual_friends = friends1.intersection(friends2)
print("Mutual friends:", mutual_friends)

Incorrect ID or password.
Mutual friends: {'Devansh'}

In [3]:
import pandas as pd

In [6]:
data = pd.read_csv("predict_energy_consumption.xls")

In [8]:
data

     temperature   humidity  wind_speed  solar_irradiance  energy_consumption
0      24.363503  31.107976    5.234114        705.432695          307.398145
1      38.767858  52.514057    4.939576        817.013257          412.444548
2      33.299849  72.376750   18.125092        325.421109          392.072418
3      29.966462  63.933493    4.990924        662.386690          119.254957
4      18.900466  68.393669    5.438995        614.571385          117.162261
..           ...        ...         ...               ...                 ...
995    17.289552  59.417309   17.305915        497.896331          453.828793
996    37.932839  77.396877    3.145464        400.961061          103.721455
997    18.420466  24.137481    6.195757        455.115084          197.529277
998    38.755934  23.423283    5.800911        576.946528          417.085421
999    26.150144  36.931224   17.428281        245.230623          318.790570

[1000 rows x 5 columns]

In [9]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   temperature         1000 non-null   float64
 1   humidity            1000 non-null   float64
 2   wind_speed          1000 non-null   float64
 3   solar_irradiance    1000 non-null   float64
 4   energy_consumption  1000 non-null   float64
dtypes: float64(5)
memory usage: 39.2 KB

In [10]:
data.describe()

,temperature,humidity,wind_speed,solar_irradiance,energy_consumption
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,27.256414,50.421038,10.048115,541.337543,272.347395
std,7.303434,17.531394,5.813484,257.840410,129.064474
min,15.115801,20.193096,0.000233,100.588052,50.013823
25%,20.899332,34.464456,5.227020,317.710693,160.238303
50%,27.420184,51.124034,10.012278,535.851355,272.569144
75%,33.607990,65.627903,15.182071,763.786729,382.997053
max,39.992942,79.964824,19.956417,999.601933,498.987225